@use '../../components/buttons' as *;
@use '../../abstracts/variable' as *;
@use '../../abstracts/mixins' as *;
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;

  .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    .cardHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        font-weight: 600;
        color: var(--blue);
      }

      .btn {
        @extend %btn; // if you defined a button placeholder
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;

      thead td {
        font-weight: 600;
      }

      tr {
        color: var(--black1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background: var(--blue);
          color: var(--white);
        }

        td {
          padding: 10px;

          &:last-child {
            text-align: end;
          }

          &:nth-child(2) {
            text-align: end;
          }

          &:nth-child(3) {
            text-align: center;
          }
        }
      }
    }
  }

  .recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    .imgBx {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    table tr td {
      padding: 12px 10px;

      h4 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2rem;

        span {
          font-size: 14px;
          color: var(--black2);
        }
      }
    }

    table tr:hover {
      background: var(--blue);
      color: var(--white);

      td h4 span {
        color: var(--white);
      }
    }
  }
}

/* Status badges */
.status {
  padding: 2px 4px;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;

  &.delivered {
    background: #8de02c;
  }

  &.pending {
    background: #e9b10a;
  }

  &.return {
    background: #f00;
  }

  &.inProgress {
    background: #1795ce;
    white-space: nowrap;
  }
}
